<%= render '/public/navbar' %>
<br>
<div class="container">
  <div class="jumbotron">
    <h1>eFood</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nullam venenatis bibendum posuere. Aliquam eu lacus ante. 
    Nulla rhoncus accumsan quam. Suspendisse ac purus ac urna venenatis gravida.</p> 
  </div>
</div>
<div class="container">
  <div class="center">
    ¡Participa con nosotros como Chef y comienza a vender!
    <%= link_to "Enviar Solicitud", chef_signup_path, class: 'orange btn btn-md'%>
  </div>
</div>
<br>
<div class="container">
  <div class="jumbotron">
    <h1>Descubre los grandes beneficios de eFood</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nullam venenatis bibendum posuere. Aliquam eu lacus ante. 
    Nulla rhoncus accumsan quam. Suspendisse ac purus ac urna venenatis gravida.</p> 
  </div>
</div>