<%= render '/public/navbar' %>
 <!-- Fondo de Aplicacion -->
<div class='loginbg'>
	<p class="responsive-font text-center text-white" style="padding-top: 70px; font-family: 'Courier New'; font-size: 70px; font-weight: 100">COME DONDE QUIERAS</p>

	 <!-- Inicio del formulario Inicio de Sesion -->
	<form class='form-login responsive'>
		<div class="login" align="center">
			<h2 class="text-center text-white spacing">INICIA SESIÓN</h2>
   			<label class='login-fields'><b>Correo Electronico</b></label>
			<input class='login-fields' type="text" placeholder="Usuario" name="uname" style="color: black; margin-bottom: 25px;" required>
    		<label class='login-fields'><b>Contraseña</b></label>   				
    		<input class='login-fields' type="password" placeholder="Contraseña" name="psw" style="color: black" required>

   			<div class="login-fields" style="margin-top: 20px;">
   			<div>
				<input type="checkbox" align="left" checked="checked"> Recordarme?
	    		<button type="submit" class="orange btn btn-md pull-right login-fields spacing" style="margin-left: 0px; margin-right: 0px;">Entrar</button>
	    	</div>
	    		<%= link_to "Crear Cuenta", login_path, :class=>'login-fields spacing', :style=>'color: #f47a14; padding-top:10px;' %>
    		</div>
  		</div>
	</form>
</div>