<nav class="navbar navbar-light" style="display: -webkit-inline-box; text-align: right;">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', class: 'logo') %>
    <% end %>
  </div>
  <div class="fas form-inline" style="display: inline-block;">
  	<span class="fa fa-search"></span>
   	<input class="form-control mr-sm-2" style="width: 250px; border:0px;" type="text" placeholder="Busca #Chef's #Comidas">
   	<%= link_to "Entrar / Registrarte", login_path, class: 'orange btn btn-md'%>
  </div>
</nav>