<nav class="navbar navbar-light">
<%= image_tag 'logo.png', :class => "logo"%>
    <div class="fas form-inline my-lg-0">
    	<span class="fa fa-search"></span>
     	<input class="form-control mr-sm-2" style="width: 250px; border:0px;" type="text" placeholder="Busca #Chef's #Comidas">
     	<button type="button" class="orange btn btn-md">Entrar / Registrarte</button>
    </div>
</nav>